.chglog/
CHANGELOG.md
*.db
*.patch
__pycache__
*.pyo
*.pyc
dist
bin
release
venv
build
.vscode
.idea
*.egg-info
*.tar.gz
*.whl 
*.dll
*.so
*.AppImage
.coverage
.codacy-coverage
*.snap
prime
commit_sha
/.run/guiscrcpy.sh
/guiscrcpy-squashfs-root/
*.AppImage.zsync
guiscrcpy.AppDir.BUILD/
guiscrcpy.AppDir/
scrcpy-squashfs-root/
squashfs-root/
/deb_dist/
