[Desktop Entry]
Version=4.3.0
Name=guiscrcpy
GenericName=guiscrcpy
Comment=Open Source Android Screen Mirroring System
Exec=guiscrcpy
Icon=guiscrcpy
Type=Application
Categories=Utility;Development;
StartupWMClass=UGENE
