[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true


[packages]
fonttools = "*"
psutil = "*"
pynput = "*"
pyshortcuts = "*"
pystray = "*"
GitPython = "*"
PyQt5 = "*"

[requires]
python_version = "3.8"
