[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
GitPython = "*"

[packages]
fonttools = "*"
psutil = "*"
pynput = "*"
pystray = "*"
PyQt5 = "~=5.15"
qtpy = "*"
cairosvg = "~=2.4.2"

[requires]
python_version = "3.8"
