[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
GitPython = "*"

[packages]
fonttools = "*"
psutil = "*"
pynput = "==1.6.8"
pystray = "*"
PyQt5 = "~=5.15"
qtpy = "*"
cairosvg = "~=2.5.1"
click = "*"
colorama = "*"

[requires]
python_version = "3.9"
