[Desktop Entry]
Version=1.11.2
Type=Application
Name=guiscrcpy
Icon=/usr/share/guiscrcpy/guiscrcpy_logo.png
Exec=guiscrcpy
Comment=Your PC is your Android Device
Categories=Utility;
Terminal=false
StartupWMClass=guiscrcpy
Description=Your PC is your Android Device
Keywords=Player;Android;Mirroring;Screen;Cast;Scrcpy;guiscrcpy;
