[Desktop Entry]
Name=guiscrcpy
Exec=guiscrcpy
Comment[en_US]=Screen mirroring application for Android
Comment[de_DE]=Anwendung für Android Screen Mirroring
Type=Application
Icon=guiscrcpy
Terminal=false
Categories=Development;
Keywords=Python;Screen;Mirroring;Android;
StartupWMClass=guiscrcpy
