[Desktop Entry]
Version=v4.7.2-42-gc70fe71
Name=guiscrcpy
GenericName=guiscrcpy
Comment=Open Source Android Screen Mirroring System
Exec=guiscrcpy
Icon=${SNAP}/meta/gui/guiscrcpy.png
Type=Application
Categories=Utility;Development;
StartupWMClass=UGENE
