name: Linux

on: 
  push:
    branches:
      - 'master'
    paths:
      - 'guiscrcpy/**'
      - '.github/workflows/pythonapp.yml'
  pull_request:
    paths:
      - 'guiscrcpy/**'
      - '.github/workflows/pythonapp.yml'


jobs:
  quality:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Lint with flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8  
    - name: Done
      run: | 
        echo Done
        
