name: Windows Executable

on: 
  push:
    paths:
      - 'guiscrcpy/**'
      - '.github/workflows/winexe.yml'
  pull_request:
    paths:
      - 'guiscrcpy/**'
      - '.github/workflows/winexe.yml'



jobs:
  build:
    name: Upload artifact
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
        
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip3 install PyInstaller
          pip3 install -r requirements.txt
          pip3 install . 
          echo Done
          
      - name: Create .exe
        run: |
          python -m PyInstaller guiscrcpy-windows.spec
      - name: Upload artifact
        uses: actions/upload-artifact@v1.0.0
        with:
          # Artifact name
          name: guiscrcpy-beta.exe
          # Directory containing files to upload
          path: dist/guiscrcpy.exe

    
